@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
}  
 .hero , .footer{
  background: rgb(38,89,97);
  background: linear-gradient(0deg, rgba(38,89,97,1) 1%, rgba(23,56,61,1) 44%, rgba(68,116,124,1) 100%);
 }


 .waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
  }
 .cardsHover {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px; /* Default shadow */
  
}
.text-shadow-md {
  text-shadow: 1px 1px 4px rgba(255, 204, 51, 0.5);
}
.backgroundshape {
  background-color: #e5e5f7;
  opacity: 0.05;
  background-image: radial-gradient(circle at center center, #444cf7, #e5e5f7), repeating-radial-gradient(circle at center center, #444cf7, #444cf7, 30px, transparent 60px, transparent 30px);
  background-blend-mode: multiply;
  position: absolute;  /* Position it inside the card */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;  /* Ensures content like text and icons are above it */
  border-radius: 20px; /* Match card's rounded corners */
}

.cardsHover:hover {
  
  transform: translateY(-10px) scale(1.05); /* Smooth lift effect */
  box-shadow: rgba(8,4,82) 0px 10px 30px; /* Bottom shadow with greater depth */
  background-color: rgba(255, 255, 255, 0.9); /* Slightly lighter background on hover */
  rotate: 0.33deg;
  cursor: pointer;
}



/* Vibrate effect */
@keyframes vibrate {
  0% { transform: translateX(0); }
  25% { transform: translateX(-4px); }
  50% { transform: translateX(4px); }
  75% { transform: translateX(-4px); }
  100% { transform: translateX(4px); }
}

.icon-hover:hover {
  animation: vibrate 0.8s ease infinite;
  scale: 1.1;
  background-color: white;
  color: black;
}

/* Underline style for links */
.line {
  position: relative;
}

.line::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: rgb(234 179 8); /* Tailwind's yellow-500 */
  transition: width 0.3s ease; /* Smooth transition for width */
}

.line:hover::after {
  width: 100%; /* Underline the full width of the link */
}

body {
  direction: rtl;
  background-color: #E7EEFB;
  

}