@tailwind base;
@tailwind components;
@tailwind utilities;
 .hero , .footer{
  background: rgb(38,89,97);
  background: linear-gradient(0deg, rgba(38,89,97,1) 1%, rgba(23,56,61,1) 44%, rgba(68,116,124,1) 100%);
 }
.cardsHover {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px; /* Default shadow */
  
}





.cardsHover:hover {
  
  transform: translateY(-10px) scale(1.05); /* Smooth lift effect */
  box-shadow: rgba(108,78,195,0.2) 0px 10px 20px; /* Bottom shadow with greater depth */
  background-color: rgba(255, 255, 255, 0.9); /* Slightly lighter background on hover */
  rotate: 1deg;
  cursor: pointer;
}



/* Vibrate effect */
@keyframes vibrate {
  0% { transform: translateX(0); }
  25% { transform: translateX(-4px); }
  50% { transform: translateX(4px); }
  75% { transform: translateX(-4px); }
  100% { transform: translateX(4px); }
}

.icon-hover:hover {
  animation: vibrate 0.8s ease infinite;
  scale: 1.1;
  background-color: white;
  color: black;
}

/* Underline style for links */
.line {
  position: relative;
}

.line::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: rgb(234 179 8); /* Tailwind's yellow-500 */
  transition: width 0.3s ease; /* Smooth transition for width */
}

.line:hover::after {
  width: 100%; /* Underline the full width of the link */
}

body {
  direction: rtl;

}